[Desktop Entry]
Name=Xwpe
Comment=X Window Programming Environment
Comment[es]=Ambiente de programación X Window
Comment[pl]=środowisko programistyczne X Window
Comment[pt]=Ambiente de programação X Window
Comment[pt_BR]=Ambiente de programação X Window
Icon=xwpe.png
Exec=xwpe
Terminal=0
Type=Application
Categories=Development
# vi: encoding=utf-8
